@import 'assets/styles/variables';
@import 'assets/styles/biomatic.full.min.css';
@import 'assets/styles/_grid.scss';
@import 'assets/styles/_embed.scss';
@import 'assets/styles/default';
@import 'assets/styles/offline-theme-chrome.css';
@import 'assets/styles/offline-language-english.css';
// https://github.com/FortAwesome/vue-fontawesome/issues/14
@import '@fortawesome/fontawesome/styles.css';
@import 'swiper/dist/css/swiper.css';
/* Begin your default styles here */

._ratio {
  background: #333;
  width: 50%;
  &::before {
    content: '';
    padding-top: 100%;
    float: left;
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
